[Unit]
Description=ej_daemon.js

[Service]
User=root
ExecStart=/usr/bin/node /home/franco/Documentos/TP3_Daemon/ej_daemon.js
Restart=on-failure
SyslogIdentifier=DaemonEjemplo

[Install]
WantedBy=multi-user.target
