[Unit]
Description=ej_daemon.js

[Service]
User=franco
ExcecStart=/usr/bin/node /home/franco/tp_daemon/ej_daemon.js
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=DaemonEJemplo

[Install]
WantedBy=multi-user.target
