[Unit]
Description=ej_daemon.js

[Service]
User=franco
ExecStart=/usr/bin/node /home/franco-debian/Documentos/TP3_Daemon/ej_daemon.js
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=DaemonEJemplo

[Install]
WantedBy=multi-user.target
